<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inquirer</title>

    <!--css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"></link>
    <link rel="stylesheet" href="/lib/vendors.min.css"></link>
    <link rel="stylesheet" href="/app.min.css">

    <!--js-->
    <script src="/lib/vendors.min.js"></script>
    <script src="/init.js"></script>
    <script src="/app.min.js"></script>

</head>
<body style="display: flex; justify-content: center; flex-direction: row;">
    <div class="test_joliform" style="width: 75%; height: 800px;"></div>
</body>
</html>
